.filters-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}